body {
  font-family: 'Space Mono', monospace;
  color:white;
  font-weight:bold;
  animation: myanimation 45s infinite;
  text-align: center;
}
@keyframes myanimation {
  0% {background-color: #ff6600;}
  25%{background-color: #FFA500;}
  50%{background-color:  #ff6600;}
  75%{background-color:#FFA500;}
  100% {background-color: #ff6600;}
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
